@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600'); 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(45deg, #57003f 0%,#f57453 100%); 
  font-family: 'Inter', sans-serif;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 2.75rem 1.25rem;
}

#--main{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  z-index: 1;
  background-color: #380428e6;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 10px;
}

#--name{
  width: 100%;
  font-size: 4em;
  line-height: 1.125;
  font-weight: 600;
}

#--skills{
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
}

.--text{
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.1rem;
  color: #7eda28;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 4px 10px;
}

.--container-inner{
  padding: 3rem 3rem;
}

.--li > a > img{
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
  transition: transform 0.25s ease 0s, color 0.25s ease 0s, background-color 0.25s ease 0s, border-color 0.25s ease 0s;
}

.--li > a > img:hover{
  filter: none;
  transform: scale(1.1125);
}

.--li{
  width: 2rem;
  height: 2rem;
}

#--icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  letter-spacing: 0px;
  margin-top: 2rem;
  vertical-align: baseline;
  gap: 1rem;
}


@media screen and (max-width: 480px) {
  #--name{
    letter-spacing: normal;
    width: 100%;
    font-size: 3rem;
    line-height: 1.125;
    font-weight: 600;
  }
}
